body {
    background-color: #F6F5F2;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
header {
    padding-top: 21px;
    padding-left: 120px;
}

html {
    scroll-behavior: smooth;
}
    
.header {
    padding-right: 35px;
}

section {
    padding-right: 120px;
    padding-left: 120px;

}
li {
	display: inline-block;
}

ul {
	display: inline-block;
}

nav {
	display: inline-block;
	vertical-align: middle;
	float: right;
}


.name {
	display: inline-block;
	font-weight: 700;
	vertical-align: middle;
	margin-bottom: 45px;
}

.contacts {
	margin-left: 43px;
	color: #25282B;
	font-size: 20px;
}

.projects {
	margin-left: 43px;
	color: #25282B;
	font-size: 20px;
    text-decoration: none;
}

.about {
	color: #25282B;
	font-size: 20px;
}

.aboutme {
	font-weight: 400;
	display: inline-block;
    color: #828282;
    font-size: 31px;
    margin-top: 0px;
    margin-bottom: 32px;
}

.h1 {
	margin-top: 0px;
	font-size: 74px;
	display: inline-block;
    margin-bottom: 32px;
}

.img1 {
    float: right;
    margin-left: 380px;
}

.context {
    display: inline-block;
}

button {
    background-color: #FDC435;
    border-radius: 10px;
    margin-right: 12px;
}

.bttn2 {
    font-size: 33px;
    text-decoration: none;
    font-weight: 500;
    color: #25282B;
    margin-bottom: 141px;
}

.button12 {
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0;
}

.button10 {
    box-shadow: 0 1px 2px 0;
}


.bttn1 {  
    font-size: 33px;
    text-decoration: none;
    font-weight: 500;
    color: #25282B;
    margin-bottom: 141px;
}


.img2 {
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.projectname1 {
    border-radius: 30px;
    width: 992px;
    box-shadow: 0 1px 10px 0;
    height: 524px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 80px;
}

.h2 {
    color: #25282B;
    font-weight: 700;
    padding-top: 146px;
    padding-left: 50px;
    font-size: 30px;
    display: inline-block;
}

.img3 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    float: right;
}

.span {
    font-size: 18px;
    color: #828282;
    margin-left: 89;
}

.project1 {
    margin-bottom: ;
}

.img4 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    float: left;
}

.h3 {
    color: #25282B;
    font-weight: 700;
    font-size: 30px;
    display: inline-block;
    margin-right: 89px;
    margin-top: 160px;
    float: right;
}

.button1 {
    font-size: 18px;
    font-weight: 500;
    margin-left: 50px;
    width: 150px;
    height: 43px;
    background-color: #FFFFFF;
    border-radius: 35px;
}

.button2 {
    font-size: 18px;
    color: #25282B;
    font-weight: 500;
    margin-left: 30px;
    width: 150px;
    height: 43px;
    background-color: #FFFFFF;
    border-radius: 35px;
}

footer {
    margin-top: 144px;
    margin-left: 0px;
    text-align: center;
    color: #25282B;
}

.footertext {
    text-align: center;
    font-size: 16px;
    color: #828282;
    font-weight: 400;
}

.footerimg {
    width: 100%;
}